<a class="btn btn-ghost normal-case text-xl mt-2">Nginx</a>


<div class="mr-2 ml-2 mb-1">
    קובץ ראשי config/nginx/mydjango.conf
</div>


  <div class="mockup-code" >
    <pre style="direction: ltr;"><code >client_max_body_size 10M;

        upstream web {  
          ip_hash;
          server web:8001;
        }
        
        server {
        
            location /static/ {    
                autoindex on;    
                alias /src/static/; 
            }
        
            location /media/ {
                autoindex on;
                alias /src/media/;
            }
        
            location / {
                proxy_pass http://web/;
            }
            listen 8001;
            server_name localhost;
        }
        </code></pre>
    <pre  class="text-warning"><code>קובץ פקודות הפעלה compose/django/Dockerfile</code></pre> 
    <pre style="direction: ltr;"><code >    # pull official python alpine image
        FROM python:3.7-alpine
        
        
        # Set Environment Variable
        ENV PYTHONUNBUFFERED 1
        ENV C_FORCE_ROOT true
        
        # Making source and static directory
        RUN mkdir /src
        RUN mkdir /static
        
        # Creating Work Directory
        WORKDIR /src
        
        # Adding mandatory packages to docker
        RUN apk update && apk add --no-cache \
            postgresql \
            zlib \
            jpeg 
        # un-comment the following two dependecies if you want to add library like pandas, scipy and numpy
        # openblas \ 
        # libstdc++ 
        
        RUN apk add --update alpine-sdk && \
         apk add libffi-dev openssl-dev && \
         apk --no-cache --update add build-base
        
        # Installing temporary packages required for installing requirements.pip 
        RUN apk add --no-cache --virtual build-deps \
            gcc \  
            python3-dev \ 
            musl-dev \
            postgresql-dev\
            zlib-dev \
            jpeg-dev 
        
        # Update pip
        RUN pip install --upgrade pip
        
        # **if you want to install scipy uncomment the following file**
        # RUN pip3 install --no-cache-dir --disable-pip-version-check scipy==1.3.1
        
        # Installing requirements.pip from project
        COPY ./src/requirements.pip /scripts/
        RUN pip install --no-cache-dir -r /scripts/requirements.pip
        
        # *install psycopg2 if you don't have it requirements.pip*
        # RUN pip install --no-cache-dir psycopg2
        
        # removing temporary packages from docker and removing cache 
        RUN apk del build-deps && \
            find -type d -name __pycache__ -prune -exec rm -rf {} \; && \
            rm -rf ~/.cache/pip
        
        # CMD will run when this dockerfile is running
        CMD ["sh", "-c", "python manage.py collectstatic --no-input; python manage.py migrate; gunicorn ioSettings.wsgi -b 0.0.0.0:8001"]
        </code></pre>
    <pre  class="text-error"><code>חובה לרענן מכולת SiteWeb לאחר שינוי קוד פייטון!</code></pre>
  </div>


  <div class="mr-2 ml-2 mb-1 mt-4">
      <p>
          פקודות חשובות:
      </p>
      <p class="text-error">
        docker-compose build    בניית מערכת
      </p>
      <p class="text-error">
        docker-compose up       הפעלת מערכת + לוגים
    </p>
</div>

