<a class="btn btn-ghost normal-case text-xl mt-2">Nginx</a>


<div class="mr-2 ml-2 mb-1">
    קובץ ראשי config/nginx/mydjango.conf
</div>


  <div class="mockup-code" >
    <pre style="direction: ltr;"><code >client_max_body_size 10M;

        upstream web {  
          ip_hash;
          server web:8001;
        }
        
        server {
        
            location /static/ {    
                autoindex on;    
                alias /src/static/; 
            }
        
            location /media/ {
                autoindex on;
                alias /src/media/;
            }
        
            location / {
                proxy_pass http://web/;
            }
            listen 8001;
            server_name localhost;
        }
        </code></pre>
  
    <pre  class="text-error"><code>חובה לרענן מכולת SiteWeb לאחר שינוי קוד פייטון!</code></pre>
  </div>


  <div class="mr-2 ml-2 mb-1 mt-4">
      <p>
          פקודות חשובות:
      </p>
      <p class="text-error">
        docker-compose build    בניית מערכת
      </p>
      <p class="text-error">
        docker-compose up       הפעלת מערכת + לוגים
    </p>
</div>

